@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.audio-block {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
}

.audio-title {
    flex: 1;
}

body {
    font-family: 'Source Code Pro', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

.blog-title {
    flex: 1;
}

.blog-img {
    padding: 10px;
    display: block;
    margin: 0 auto;
    max-width: 250px;
}

.blog-img-lrg {
    padding: 10px;
    display: block;
    margin: 0 auto;
    max-width: 600px;
}

.centre-content{
    display: flex;
    justify-content: center;
}

.container {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:none transparent;
}

.content {
    color: black;
}

.embed-title{
    width: 100%;
    height: 50px;
    display: block;
    margin: 0 auto;
    border: 0;
}

.embed-footer {
    width: 100%;
    height: 250px;
    display: block;
    margin: 0 auto;
    border: 0;
    
}

.embed-links {
    width: 100%;
    height: 100px;
    display: block;
    margin: 0 auto;
    border: 0;
}

.footer {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 10px;
    background-color: whitesmoke;
    border-radius: 25px;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.footer-entry {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.footnote {
    font-size: 11px;
}

.header {
    max-width: 1000px;
    margin: 0 auto;
}

.heading {
    color: dimgray;
}

.icon {
    width: 48px;
}

.indented {
    margin-left: 15px;
}

.links{
    max-width: 800px;
    margin: 0 auto;
    padding-top: 10px;
    background-color:whitesmoke;
    border-radius: 25px;
}

.links-container{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.links-entry{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

.main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 25px;
}

.marquee-heading {
    color: crimson
}

p {
    margin-bottom: 10px;
}

.title-block {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #ffa2b5;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    bottom: 100%;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

ul {
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
}

.video-embed{
    max-width: 672px;
    max-height:378px;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.whole-site{
    background-image: url("img/hearts2.png");
    background-size: 10%;
    background-color: #ffa2b5;
}